<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ds Algo TestNG Suite">
  <listeners>
		<listener class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
		<listener class-name="Utilities.RetryListener" />
		<listener class-name="Utilities.Listener" />
	</listeners>
	<test name="ChromeBrowser">
		<parameter name="browser" value="chrome" />
			
		<classes>
					
			<class name="TestClasses.GraphTest" />
			
			<class name="TestClasses.TreeTest" />
			
			<class name="TestClasses.DataStructureTest" />
		</classes>
	</test> <!--
	Test -->
</suite>
