<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DSAlgo Test Suite" parallel="false">
	<!-- Add listeners here -->
	<listeners>
		<listener
			class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
		<listener class-name="Utilities.RetryListener" />
		<listener class-name="Utilities.Listener" />
	</listeners>
	<test name="Functional Tests">
		<classes>
			<class name="TestClasses.QueueTest" />
			<class name="TestClasses.StackTest" />
			<class name="TestClasses.GraphTest" />
			<class name="TestClasses.TreeTest" />
			<class name="TestClasses.LinkedListTest" />
			<class name="TestClasses.DataStructureTest" />
		</classes>
	</test>
</suite>

